.red i {
   color: rgba(190, 13, 13, 0.918);
   font-size: 30px;
   padding: 5px;
}

.yellow i {
   color: rgb(210, 210, 10);
   font-size: 30px;
   padding: 5px;
}

.green i {
   color: rgba(0, 150, 0, 0.918);
   font-size: 30px;
   padding: 5px;
}