{% load static %}
<!-- Panel Izquierdo -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="menu-title">Menú</li>
                {% if user.is_admin %}
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Usuarios</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{% url 'user:new_user' %}">Nuevo Usuario</a></li>
                        <li><i class="fa fa-eye"></i><a href="{% url 'user:list_user' %}">Ver Usuarios</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-search"></i>Consultas</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-square"></i><a href="{% url 'crear_persona' %}">Nueva Consulta</a></li>
                        <li><i class="fa fa-eye"></i><a href="{% url 'consulta' %}">Ver Consultas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</aside>