{% load static %}
<!doctype html>

<head>
    {% include "include/header.html" %}
</head>

<body>

    <!--  Panel Superior -->
    {% include "include/panel_superior.html" %}
    <div id="right-panel" class="right-panel">
        <!--  Panel Izquierdo -->
        {% include "include/panel_izquierdo.html" %}

        <div class="content">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="stat-content text-center card-header">
					    <div class="text-left dib">
						    <div class="stat-heading">
                                <h2>Consultas</h2>
						    </div>
					    </div>
                    </div>
				</div>
                    <div class="justify-content-center card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Numero de Consultas: {{no_persona}}</label>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>tipo_dni</th>
                                    <th>dni</th>
                                    <th>nombres</th>
                                    <th>Tel</th>
                                    <th>Correo</th>
                                    <th>Resultado Facial</th>
                                    <th>Validar Facial</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for persona in persona %}
                                <tr>
                                    <td>{{persona.id}}</td>
                                    <td>{{persona.tipo_dni}}</td>
                                    <td>{{persona.dni}}</td>
                                    <td>{{persona.nombres}}</td>
                                    <td>{{persona.tel}}</td>
                                    <td>{{persona.correo}}</td>
                                    <td>{{persona.resultado_fac}}</td>
                                    <td>
                                        <a href="../valida_caso/{{persona.id}}" class="btn btn-primary">Validar</a>
                                    </td>
                                    <td>
                                        <a href="../ver_caso/{{persona.id}}" class="btn btn-primary">Ver</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- Cierre div animated -->
        </div> <!-- Cierre div content -->
        {% include "include/footer.html" %}
    </div>
</body>

</html>