{% load static %}
<!doctype html>

<head>
    {% include "include/header.html" %}
</head>

<body>

    <!--  Panel Superior -->
    {% include "include/panel_superior.html" %}
    <div id="right-panel" class="right-panel">
        <!--  Panel Izquierdo -->
        {% include "include/panel_izquierdo.html" %}

        <div class="content">
            <div class="animated fadeIn">
                <div class="stat-content text-center mb-5 card-header">
                    <div class="text-left dib">
                        <div class="stat-heading">
                            <h2>Valide su identidad</h2>
                        </div>
                    </div>
                </div>
                <form role="form" enctype="multipart/form-data" method="POST" id="upload-image-form">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="form-group">
                                    <label for="">Tipo DNI</label>
                                    {{ form.tipo_dni }}
                                    <div style="color: #B1251E;">
                                        {{ form.tipo_dni.errors }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">DNI</label>
                                    {{ form.dni }}
                                    <div style="color: #B1251E;">
                                        {{ form.dni.errors }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Nombres</label>
                                    {{ form.nombres }}
                                    <div style="color: #B1251E;">
                                        {{ form.nombres.errors }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Telefono</label>
                                    {{ form.tel }}
                                    <div style="color: #B1251E;">
                                        {{ form.tel.errors }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Correo</label>
                                    {{ form.correo }}
                                    <div style="color: #B1251E;">
                                        {{ form.correo.errors }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Selfie</label>
                                    {{ form.url_selfi }}
                                    <div style="color: #B1251E;">
                                        {{ form.url_selfi.errors }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Documento</label>
                                    {{ form.url_documento }}
                                    <div style="color: #B1251E;">
                                        {{ form.url_documento.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-button btn-outline-success">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div> <!-- Cierre div animated -->
    </div> <!-- Cierre div content -->
    {% include "include/footer.html" %}
    </div>
</body>

</html>