{% load static %}
<!doctype html>

<head>
    {% include "include/header.html" %}
</head>

<body>

    <!--  Panel Superior -->
    {% include "include/panel_superior.html" %}
    <div id="right-panel" class="right-panel">
        <!--  Panel Izquierdo -->
        {% include "include/panel_izquierdo.html" %}
        <div class="content">
            <div class="animated fadeIn">
                <div class="stat-content text-center">
                    <div class="text-left dib">
                        <div class="stat-heading">
                            <h2>Editar Usuario</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="justify-content-center">
                        <form method="POST">
                            <div class="form-group col-6">
                                <table class="table table-borderless">
                                    <!--{{formaUsuario}}-->
                                </table>
                                <div class="justify-content-center row">
                                    {% for field in formaUsuario %}
                                    <div class="form-row">
                                        <label for="formGroupExampleInput">{{field.label}}</label>
                                        <div class="form-control">
                                             {{field}}
                                        </div>
                                    </div>
                                    <br>


                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-button btn-outline-success btn-lg btn-block">
                                    Enviar
                                </button>
                                <a href="../usuarios"
                                    class="btn btn-button btn-outline-primary btn-lg btn-block">Volver</a>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Cierre div animated -->
    </div> <!-- Cierre div content -->
    {% include "include/footer.html" %}
    </div>
</body>

</html>