{% load static %}
<!doctype html>
<head>
  {% include "include/header.html" %}
</head>

<body>

    <!--  Panel Superior -->
    {% include "include/panel_superior.html" %}
    <div id="right-panel" class="right-panel">
        <!--  Panel Izquierdo -->
        {% include "include/panel_izquierdo.html" %}

        <div class="content">
            <div class="animated fadeIn">
                <div class="container">
                    <div class="">
                        <form method="POST">
                            <h1>Agregar Persona</h1>
                            <table>
                                {{formaUsuario}}
                            </table>
                            <button type="submit"
                            class="btn btn-button btn-outline-success">
                                Enviar
                            </button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div> <!-- Cierre div animated -->
        </div> <!-- Cierre div content -->
        {% include "include/footer.html" %}
    </div>
</body>
</html>